* {
    padding: 0;
    margin: 0
}

html {
    font-size: 62.5%
}

:root {
    --primary-color: #ad0e8d;
    --secondary-color: #7d00d1;
}

body {
    background-color: rgb(219, 241, 253);
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    font-family: 'Noto Sans JP',
        sans-serif;

}

h1,
h2,
h3 {
    font-family: 'Krona One',
        sans-serif;
}

input,
p,
a,
li {
    font-family: 'Noto Sans JP',
        sans-serif;
}